.primary-button {
  background-color: $secondary-800;
  color: #fff;
  margin: 0;
  padding: 14px 32px;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
      0px 1px 10px rgba(0, 0, 0, 0.2);
  }
}
