@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import "./reset";
@import "./colors";
@import "./typography";
@import "./buttons";

.navbar {
  height: 75px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
    justify-items: end;
  }

  &__logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    align-items: center;
    margin-right: 400px; // fix
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    margin: 0;
    padding: 0;

    &-item {
      padding: 29px 12px;

      &-link {
        text-transform: uppercase;
        color: $grey-700;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;

        &:hover {
          color: $secondary-800;
        }
      }
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 32px;

    &-image {
      margin-left: 32px;
    }

    &-button {
      background-color: $secondary-800;
      color: #fff;
      padding: 10px 22px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 100px;
      text-transform: uppercase;
      font-family: Lato;
      font-style: normal;
      font-weight: 800;
      font-size: 13px;
      line-height: 16px;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
          0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.introduction {
  height: 300px;
  background-color: $blue-400;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: end;
  }

  &__badge {
    background-color: $secondary-500;
    color: #fff;
    text-transform: uppercase;
    padding: 4px 8px;
    margin-bottom: 1rem;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &__title {
    width: 645px;
    color: #fff;
    margin: 1rem 0 0 0;
    text-align: center;
  }
}

.apply {
  height: 110px;
  width: 1290px;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translatex(-50%);

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 290px 1fr;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;

    &-field {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;
      column-gap: 25px;
    }

    &-title {
      color: $secondary-800;
      margin: 0;
    }

    &-text {
      color: $grey-700;
      margin: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.info {
  height: 800px;
  padding-top: 150px;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
  }

  &__about {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 110px;
    align-items: center;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 110px;
    margin-top: 100px;

    &-difficulty {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 32px;
    }

    &-skills {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 32px;
    }

    &-title {
      color: $grey-700;
      margin: 0;
    }
  }
}

.schedule {
  height: 550px;
  background-color: $secondary-900;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 135px;
    padding: 60px 0;
  }

  &__description {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 32px;
  }

  &__image-wrapper {
    align-self: end;
    margin-right: 60px;
  }

  &__list {
    margin: 0;
    padding: 0;

    &-item {
      background-color: #fff;
      color: $grey-700;
      padding: 14px;
      margin-bottom: 16px;
      border-radius: 6px;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      position: relative;

      img {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }
  }

  &__title {
    color: $grey-700;
    margin: 0;
  }

  &__secondary-title {
    color: $grey-700;
    margin-bottom: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
}

.additional-info {
  height: 900px;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
  }

  &__reward {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 35px;
    margin-top: 145px;
  }

  &__certificate-image {
    width: 360px;
    height: 255px;
    background-color: $grey-300;
    color: $grey-700;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 105px;
    margin-left: 60px;
    cursor: pointer;

    p {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__lectures {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 35px;
  }

  &__more-info {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 35px;
  }

  &__title {
    color: $grey-700;
    margin: 0;
  }
}

.trainers-header {
  height: 255px;
  background-color: $secondary-600;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    padding: 65px 220px;
  }

  &__title {
    color: #fff;
    margin: 0 0 1.5rem 0;
    text-align: center;
  }

  &__text {
    color: #fff;
    margin: 0;
    text-align: center;
  }
}

.trainers-showcase {
  height: 550px;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    padding: 95px 0;
  }

  &__about-trainer {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 35px;

    &-image {
      border: 8px solid $primary-300;
      border-radius: 50%;
    }

    &-title {
      color: $primary-300;
      margin: 0 0 8px 0;
    }

    &-subtitle {
      color: $grey-400;
      margin: 0 0 24px 0;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.all-trainers {
  height: 1450px;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 60px;
    padding: 95px 130px;
  }

  &__card {
    display: grid;
    justify-items: center;
    text-align: center;

    &-image-wrapper {
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 17px);
        background: $secondary-800 url("./images/Image-Back.svg") no-repeat 50%
          40%;
        border-radius: 50%;
        opacity: 0.8;
        cursor: pointer;
      }

      &:hover p {
        display: block;
      }

      p {
        color: #fff;
        margin: 0;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        z-index: 10;
        display: none;
      }
    }

    &-image {
      border-radius: 50%;
      border: 8px solid $primary-300;
    }

    &-title {
      color: $primary-300;
      margin: 1.5rem 0 0 0;
    }

    &-subtitle {
      color: $grey-400;
      margin: 0.5rem 0 0 0;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.join-us {
  height: 400px;
  background-color: $blue-300;
  border-top: 12px solid $blue-200;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 65px 0 125px 0;
    display: grid;
    justify-content: center;
  }

  &__title {
    margin: 0 0 1.5rem 0;
  }

  &__text {
    width: 760px;
    margin: 0 auto 3rem auto;
    color: #fff;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 48px;

    &-inputs {
      display: grid;
      grid-template-columns: repeat(3, 230px);
      column-gap: 32px;
    }

    &-input {
      background-color: transparent;
      color: #fff;
      padding: 16px 52px 16px 16px;
      border: 1px solid #fff;
      border-radius: 6px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      outline: none;

      &::placeholder {
        color: #fff;
      }
    }
  }
}

.contacts-header {
  height: 430px;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    height: 425px;
    object-fit: cover;
    position: absolute;
    z-index: -10;
  }

  &__card {
    width: 520px;
    height: 380px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 32px 32px 0 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 10px;
    align-content: center;
    position: relative;
    top: 128px;
    z-index: 10;

    &-title {
      color: $primary-300;
      margin: 0 0 18px 0;
    }

    &-text {
      margin: 0;

      &.margin-bottom-12 {
        margin-bottom: 12px;
      }
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;
    }

    &-button {
      background-color: #fff;
      color: $secondary-800;
      margin: 0;
      padding: 14px 32px;
      text-transform: uppercase;
      font-family: Lato;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 16px;
      border-radius: 100px;
      border: 1px solid $secondary-800;
      cursor: pointer;
      grid-column: 1 / 3;
      justify-self: center;
      align-self: center;
    }

    .text-secondary {
      color: $secondary-800;
    }
  }
}

.contacts-form-section {
  height: 690px;

  .content-wrapper {
    height: 100%;
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    padding: 180px 0;
    display: grid;
    justify-items: center;
    align-content: center;
  }

  &__title {
    color: $primary-300;
  }

  &__form {
    width: 850px;
    color: $grey-500;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 32px;
    row-gap: 32px;

    &-button {
      justify-self: start;
    }

    input,
    textarea {
      padding: 16px 52px 16px 16px;
      border: 1px solid $grey-500;
      border-radius: 6px;
      outline: none;
    }

    textarea {
      height: 190px;
      grid-column: 1 / 3;
      resize: none;
    }
  }
}

.contacts-route {
  height: 570px;
  background-color: $secondary-50;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    padding: 100px 0;
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
  }

  &__title {
    color: $primary-300;
    margin: 0;
    text-align: center;
  }

  &__vehicles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
  }

  &__vehicle {
    &-title {
      color: $primary-300;
      margin: 0 0 18px 0;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }

    &-text {
      margin: 0 0 16px 0;
    }
  }
}

.footer {
  height: 315px;
  background-color: $grey-700;
  border-top: 12px solid $grey-500;

  .content-wrapper {
    max-width: calc(1440px - 150px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 80px;
  }

  &__image-wrapper {
    position: relative;

    img {
      width: 220px;
      height: 400px;
      position: absolute;
      top: -97px;
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
  }

  &__list-title {
    color: #fff;
    margin: 0;
    padding-bottom: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }

  &__list {
    margin: 0;
    padding: 0;
    max-height: 150px;

    &-item {
      padding-bottom: 12px;
    }

    &-item-link {
      color: $grey-200;

      &:hover {
        color: $primary-300;
      }
    }

    &-item-link-icon {
      font-size: 30px;
    }

    &-text {
      color: $grey-500;
    }
  }

  .social-media {
    display: grid;
    grid-template-rows: min-content min-content 1fr;

    &-list {
      display: grid;
      grid-template-columns: min-content min-content;
      column-gap: 30px;
      margin: 5px 0 20px 0;
    }
  }
}
